[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */__pycache__/*
    */.pyc
    */.pytest_cache/*
    */RestFul_API/app/python?.?/*
    */RestFul_API/app/site-packages/nose/*
    */RestFul_API/app/__pycache__/*
    */RestFul_API/app/.pyc
    */RestFul_API/app/.pytest_cache/*
    */RestFul_API/tests/.pytest_cache/*
    */.idea/*