body{
    font-family: 'Open Sans', sans-serif;
    background:url(images/bb4.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
  
  p{
    font-size:12px;
    text-decoration: none;
    color:#c52929;
  }
  
  h1{
    font-size:1.5em;
    color:#525252;
  }
  
  .box{
    background:white;
    width:600px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
    margin-left: 410px;
  }
  
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  
  .btn{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btn:hover{
    background:#2CC06B; 
  }
  
  #btn2{
    float:left;
    background:#3498db;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  
  #btn2:hover{ 
  background:#3594D2; 
  }

  a{
    a:link {color: red};
    a:visited {color: blue};
    a:hover {color: yellow};
    a:active {color: green};
  }

  h4{
    font-size:1.em;
    color:#7e58b9;
  }

   .topnav {
    background-color: #333;
    overflow: hidden;
}
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
    .topnav a:hover {
    background-color: #ddd;
    color: black;
}
    .topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.split {
  height: 88%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 65px;
  bottom:0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color:  black;
}

.logo {width: 400px;
  margin-left: 2px; 
  margin-top: 0px;
}